<section class="banner-section">
    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide" style="background-image: url(/assets/images/main-slider/image-5.jpg)">
            <div class="auto-container">
                <!-- Content Column -->
                <div class="content-column centered">
                    <div class="inner-column">
                        <div class="title">Delicious Food For The Last 2 Decades</div>
                        <h1>We Make <br> An <span>Excelllent</span> <br> Food</h1>
                        <div class="btns-box">
                            <a href="/menu" class="theme-btn btn-style-two"><span class="txt">Order Online</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image: url(/assets/images/main-slider/image-2.jpg)">
            <div class="auto-container">
                <!-- Content Column -->
                <div class="content-column">
                    <div class="inner-column">
                        <div class="title">Delicious Food For The Last 2 Decades</div>
                        <h1>We Make <br> An <span>Excelllent</span> <br> Food</h1>
                        <div class="btns-box">
                            <a href="/menu" class="theme-btn btn-style-two"><span class="txt">Order Online</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide" style="background-image: url(/assets/images/main-slider/image-4.jpg)">
            <div class="auto-container">
                <!-- Content Column -->
                <div class="content-column">
                    <div class="inner-column">
                        <div class="title">Delicious Food For The Last 2 Decades</div>
                        <h1>We Serve The <br> <span>Good Taste</span> Of <br> Food</h1>
                        <div class="btns-box">
                            <a href="/menu" class="theme-btn btn-style-two"><span class="txt">Order Online</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>