<!-- Page Title -->
<section class="page-title" style="background-image: url(../assets/images/background/10.jpg)">
    <div class="auto-container">
        <h1><%= title %></h1>
    </div>
</section>
<!-- End Page Title -->